<h1>Id : <%= @task.id %> Detail Page</h1>

<p>Registered Date : <%= @task.created_at.strftime('%Y/%m/%d') %></p>
<p><%= time_ago_in_words(@task.created_at) %> before</p>
<p><%= @task.content %></p>

<%= link_to 'Back to the List', tasks_path %>
<%= link_to 'Edit your Task', edit_task_path(@task.id) %>
<%= link_to 'Delete this task', @task, method: :delete, data: { confirm: 'Are you sure to delete?' } %>



